extends template/main

mixin glava(title, str1, str2)
  .row.flex-column.text-black( style = {'font-family': 'Titillium Web , sans-serif'})
    h2.h2-responsive.mt-5.font-weight-normal.mr-auto.ml-auto.text-uppercase= title
    p.col-7.ml-auto.mr-auto.mt-2.font-weight-normal.text-muted
      span.col-6= str1
      span= str2

//- миксин прогресс-бар окружность
mixin CardCickle(progress,proc,title)
  .d-flex.flex-column.w-25.justify-content-center
    svg.progress-ring.mx-auto(width='150' height='150')
      circle.progress-ring__circle( fill="#b9f6ca" cx="75" cy="75" r="72" rd= progress)
      circle( fill="#7283a7"  cx="75" cy="75" r="69" )
      text( x="42" y="87" fill="#fafafa" "font-size"="40")= proc
    h6.text-center.mt-3.text-uppercase.font-weight-bold= title

//- миксин прогресс-бар-линия
mixin ProgressBar(progress,proc, title)
  .row-5.h-25.mt-5.d-flex.align-items-end.text-uppercase.text-end.px-0.py-0( style = { width: "inherit" })
    h6.font-weight-bold.mr-auto.mt-2= title
    span.mb-1.ml-auto.text-muted= proc
  div.px-0.py-0.d-flex.mt-3( style = {background: fon, width:"100%;" })
    svg.my-0(width='100%' height='20' )
        line.svg-progress( x1="0" y1="10" x2="100%" y2="10" width="100%" height="20" proc= progress  )









block content
  header
    .container
      nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-dark( style = {opacity: 0.4})
        .container.d-flex
          .row.col-12
            .order-0.order-lg-1.col-4.col-sm-7
              button.navbar-toggler.bg-light(type="menu" data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.col-4
                  li.nav-item
                    a.text-light.color-link.nav-link(href='#')
                      |  HOME
                  li.nav-item
                    a.text-light.color-link.nav-link(href='#')
                      |  ABOUT
                  li.nav-item
                    a.text-light.color-link.nav-link(href="#")
                      |  WORK
                  li.nav-item
                    a.text-light.color-link.nav-link(href="#")
                      |  SERVICES
                  li.nav-item
                    a.text-light.color-link.nav-link(href="#")
                      |  BLOG
                  li.nav-item
                    a.text-light.color-link.nav-link(href="#")
                      |  CONTACT

            .order-1.order-lg-0.col-8.col-sm-5.d-flex.justify-content-lg-start.justify-content-sm-end
              a.text-light.align-bottom.navbar-brand.invise(href='#') LOGO


    #intro.view
      .mask.rgba-black-strong
        .container-fluid.d-flex.justify-content-center.align-items-center.h-100
          .row.col-10.flex-column.justify-content-center.text-center
              a.text-light.navbar-brand.smailler-768(href='#') LOGO
              h2.h2-responsive.display-4.font-weight-bold.white-text.pt-5.mb-2.w-auto.col-md-8.mr-auto.ml-auto
                | Fusce dapibus tellus ac cursus commodo.
                | Duis mollis est non commodo luctus, nisi erat porttitor.
              .col-3.ml-auto.mr-auto( style = { height: '15em'})
                button.btn-lg.btn-outline-dark BIG BUTTON
  // close Header

  .container-fluid.px-0( style = { 'background-color': fon, height: '85vh'})
    .container.h-25.mb-n5.mx-auto.d-flex.align-items-center( style = { 'background-color': fon})
      .row.col-10.d-flex.flex-row.ml-auto.mr-auto.mt-n5.justify-content-center.py-5
        h2.h2-responsive.font-weight-bold.text-black.align-self-center( style = {'font-family': 'Titillium Web , sans-serif'})
            | Call For Action Components
      // close row


    .container.mx-auto.d-flex.flex-column.bg-white( style = { height: '30vh'})
      .row.col-10.d-flex.flex-row.ml-auto.mr-auto.justify-content-center

        .card.col-12.text-center.text-black.font-weight-normal.h3-responsive.pt-2
          .card-body
            .card-text( style = {'font-family': 'Titillium Web , sans-serif'})
              | Lorem Ipsum
        p.col-md-10.text-center.text-muted.text-monospace.text-black.font-weight-normal.px-md-4.h5-responsive.display-4
          | Fusce dapibus, tellus ac cursus commodo, tortor maur
          is condimentum.
          |  Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
        form.col-md-7.mb-1.mb-md-2.form-inline.px-0.justify-content-center.h-25
          .form-group.mx-sm-2.mb-2
            label.sr-only(for='inputPassword2') Password
            input#inputPassword2.form-control(type='password' placeholder='Enter email address')
          button.btn-danger.mb-2.btn-mode(type='submit') SUBSCRIBE
      // close row
    // close container


    .container.px-0
      .row.ml-auto.mr-auto.mt-5.d-flex.justify-content-center.align-items-center.text-white.activ-cont(style = { 'background-color': '#565d67'})
        .h4.text-center.mr-5.ml-auto
          |  Duis mollis est non commodo luctus nisi erat porttitor.
        button.btn-danger.btn-mode.mr-auto( type = 'submit' style = { width: '8em'}) BUTTON
      .row.col-10.mx-auto.mt-4.d-flex.justify-content-center.align-items-center.py-1( style = { 'background-color': fon, height: '9em'})
        h2.text-black.font-weight-bold( style = {'font-family': 'Titillium Web , sans-serif'})
          | Features
      // close row
  //close container-fuild

  .container-fluid.d-flex.justify-content-center( style = { 'background-color': fon})
    .container.h-100.d-flex.flex-column.py-5.bg-white
      .row.d-flex.justify-content-center.mb-2
        .cards.text-black( style = { width: "47rem"})
          h2.card-body.text-center.font-weight-bold( style = {'font-family': 'Titillium Web , sans-serif'})
            | OUR PRODUCT
          p.d-flex.flex-column.card-text.text-center.text-wrap.text-break.font-weight-normal( style = {'font-family': 'Titillium Web , sans-serif;', width: "47em"})
            span Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.
            span Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          .row.d-flex.justify-content-center
            button.btn-danger.active-btn( style = { width: '10em;', height: '3em'}) BUTTON
            button.btn-danger.ml-3.active-btn( style = { width: '10em;', height: '3em'}) BUTTON
      // close row

      .row.mt-5( style = { height: '30em'})
        .col-12.position-relative
          .cards.position-absolute.iphone(style = { 'z-index': '10'})
            include template/svg/iphone
          .cards.position-absolute.mac( style = { 'z-index': '0'})
            include template/svg/mac
          .cards.position-absolute.ipad(style = { 'z-index': '10'})
            include template/svg/ipad
      // close row
  .container-fluid.py-5(style = { 'background-color': fon})
    .container.bg-white.h-100
      .row.d-flex.justify-content-around.py-5
        .col-3.offset-2
          include template/svg/iphone-big
        .col-5.offset-1.mr-auto.py-4
          .cards.text-black
            h2.card-body.text-left.font-weight-bold.px-0( style = {'font-family': 'Titillium Web , sans-serif'})
              | OUR PRODUCT
            p.d-flex.flex-column.card-text.text-left.text-wrap.text-break.font-weight-normal.px-0( style = {'font-family': 'Titillium Web , sans-serif;', 'font-size': '1em'})
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.     Donec odio. Quisque volutpat mattis eros. Nullam malesuada     erat ut turpis. Suspendisse urna nibh, viverra non, semper     suscipit, posuere a, pede.
            ul.mt-5.px-0( style = { 'list-style-type': 'none'})
              li.d-flex.align-items-center.mb-4
                .cicle.mr-3(style = { 'background-color': fon})
                span Quisque volutpat mattis eros.
              li.d-flex.align-items-center.mb-4
                .cicle.mr-3(style = { 'background-color': fon})
                span Nullam malesuada erat ut turpis
              li.d-flex.align-items-center
                .cicle.mr-3(style = { 'background-color': fon})
                span Suspendisse urna nibh
            //закрытие ul
            button.btn-lg.btn-outline-dark BIG BUTTON
  //закрытие container-fluid
  .container-fluid( style = { 'background-color': fon, height: '73vh'})
    .container.mx-auto( style = { 'background-color': fon, height: '4vh'})
      .row.w-100
        .col-xl-12.d-flex.mx-auto.justify-content-center.py-0
          h1.h2-responsive.font-weight-bold.text-black.align-self-center( style = {'font-family': 'Titillium Web , sans-serif'})
              | Services
      // close row
    // close container
    .container.mt-5.px-0( style = { height: '64vh'})
      .container.bg-white.h-100
        .row.flex-column.text-black( style = {'font-family': 'Titillium Web , sans-serif'})
          h2.h2-responsive.mt-5.font-weight-bold.mr-auto.ml-auto SERVICES WE PROVIDE
          p.col-7.ml-auto.mr-auto.mt-2.font-weight-normal.text-muted
            span.col-6
            |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar augue.
            span
            |  Nulla facilisi. Sed gravi64 felis nec ipsum egestas, vitae blandit arcu finibus. Vestibulum
            |  rhoncus tempus odio, sodales cursus est egestas at.
        //Close row
        .row.col-8.mr-auto.ml-auto.d-flex.justify-content-lg-center.flex-nowrap.text-center.pt-5
          .card
            img( src = "../img/svg/global-communication.svg" alt = "not foto" style = { width: '10em;', height: '10em'}).card-img-top.mr-auto.ml-auto
            .card-body
              h6.font-weight-bold.card-title BRANDING
              p.lead.card-text( style = {'font-size': '0.7em'}).text-muted
                |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          .card
            img( src = "../img/svg/money-bag.svg" alt = "not foto" style = { width: '10em;', height: '10em'}).mr-auto.ml-auto.card-img-top
            .card-body
              h6.font-weight-bold.card-title DESING
              p.lead.card-text.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          // close card
          .card
            img( src = "../img/svg/investment.svg" alt = " not foto " style = { width: '10em;', height: '10em'}).mr-auto.ml-auto.card-img-top
            .card-body
              h6.font-weight-bold.card-title DEVELOPMENT
              p.lead.card-text.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          // close card
        //close row
    //close container
  // close container-fluid

  .container-fluid.pt-5( style = { 'background-color': fon, height: '65vh'})
    .container.bg-white.h-100
      .row.flex-column.text-black.text-center( style = {'font-family': 'Titillium Web , sans-serif'})
        h2.h2-responsive.mt-5.font-weight-bold.mr-auto.ml-auto SERVICES WE PROVIDE
        p.col-7.ml-auto.mr-auto.mt-2.font-weight-normal.text-muted
          span.col-6
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar augue.
          span
          |  Nulla facilisi. Sed gravi64 felis nec ipsum egestas, vitae blandit arcu finibus. Vestibulum
          |  rhoncus tempus odio, sodales cursus est egestas at.
      //close row
      .row.d-flex.justify-content-center.px-5.mt-5.pt-5
        .container.col-lg-5.d-flex.flex-column

          .container.d-flex.justify-content-end.mb-5
            .cicle.mr-3( style = { 'background-color': fon })
            .col-lg-8
              h6.font-weight-bold BRANDING
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
          // close container
          .container.d-flex.justify-content-end
            .cicle.mr-3( style = { 'background-color': fon })
            .col-lg-8
              h6.font-weight-bold DEVELOPMENT
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
          // close container
        // close container
        .container.col-lg-5.d-flex.flex-column

          .container.d-flex.justify-content-start.mb-5
            .cicle.mr-3( style = { 'background-color': fon })
            .col-lg-8
              h6.font-weight-bold DESIGN
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
          // close container
          .container.d-flex.justify-content-start
            .cicle.mr-3( style = { 'background-color': fon })
            .col-lg-8
              h6.font-weight-bold ROCKET SCIENCE
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
          // close container
        // close container
      // close row
    // close container
  // close container-fluid

    //.container-fluid( style = { 'background-color': fon, height: '80vh'})
  .container-fluid( style = { 'background-color': fon})
    .container.mx-auto( style = { 'background-color': fon, height: '14vh'})
      .row.w-100.h-100.d-flex.justify-content-center.align-items-center
        h1.h2-responsive.font-weight-bold.text-black( style = {'font-family': 'Titillium Web , sans-serif'})
            | Team Components


    .container.bg-white.pb-5( style = { height: '80%'})
      .row.flex-column.text-black( style = {'font-family': 'Titillium Web , sans-serif'})
        h2.h2-responsive.mt-5.font-weight-bold.mr-auto.ml-auto.text-uppercase our team
        p.col-7.ml-auto.mr-auto.mt-2.font-weight-normal.text-muted
          span.col-6
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar augue.
          span
          |  Nulla facilisi. Sed gravi64 felis nec ipsum egestas, vitae blandit arcu finibus. Vestibulum
          |  rhoncus tempus odio, sodales cursus est egestas at.
      // close row
      .row.col-8.mr-auto.ml-auto.d-flex.justify-content-lg-center.flex-nowrap.text-center.pt-5
        .card
          img( src = "../img/svg/avatar.svg" alt = "not foto" style = { width: '11em;', height: '11em;','background-color': fon, 'border-radius': '50%'}).card-img-top.mr-auto.ml-auto
          .card-body.pb-0
            h6.font-weight-bold.card-title BRANDING
            p.lead.card-text( style = {'font-size': '0.7em'}).text-muted
              |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            .d-flex.justify-content-center
              img.mr-1( src = "../img/svg/facebook.svg" alt = "not foto" style = { width: '2em;', height: '2em;','background-color': fon, 'border-radius': '50%'})
              img.ml-1( src = "../img/svg/google-plus.svg" alt = "not foto" style = { width: '2em;', height: '2em;','background-color': 'fon;', 'border-radius': '50%'})
        // close card
        .card
          img( src = "../img/svg/avatar.svg" alt = "not foto" style = { width: '11em;', height: '11em;','background-color': fon, 'border-radius': '50%'}).mr-auto.ml-auto.card-img-top
          .card-body.pb-0
            h6.font-weight-bold.card-title DESING
            p.lead.card-text.text-muted( style = { 'font-size': '0.7em'})
              |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            .d-flex.justify-content-center
              img.mr-1( src = "../img/svg/facebook.svg" alt = "not foto" style = { width: '2em;', height: '2em;','background-color': 'fon;', 'border-radius': '50%'})
              img.ml-1( src = "../img/svg/google-plus.svg" alt = "not foto" style = { width: '2em;', height: '2em;','background-color': fon, 'border-radius': '50%'})
        // close card
        .card
          img( src = "../img/svg/avatar.svg" alt = " not foto " style = { width: '11em;', height: '11em;','background-color': fon, 'border-radius': '50%'}).mr-auto.ml-auto.card-img-top
          .card-body.pb-0
            h6.font-weight-bold.card-title DEVELOPMENT
            p.lead.card-text.text-muted( style = { 'font-size': '0.7em'})
              |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            .d-flex.justify-content-center
              img.mr-1( src = "../img/svg/facebook.svg" alt = "not foto" style = { width: '2em;', height: '2em;','background-color': 'fon;', 'border-radius': '50%'})
              img.ml-1( src = "../img/svg/google-plus.svg" alt = "not foto" style = { width: '2em;', height: '2em;','background-color': fon, 'border-radius': '50%'})
        // close card
      //close row
  //close container

   //.container-fluid( style = { 'background-color': fon, height: '65vh'})
  .container-fluid.pb-5( style = { 'background-color': fon})
    .container.w-100.d-flex.justify-content-center( style = { 'background-color': fon, height: '12vh'})
      .row.d-flex.justify-content-center.align-items-center
        h1.h2-responsive.font-weight-bold.text-black( style = {'font-family': 'Titillium Web , sans-serif'})
            | Experince Components
      //close row
       //.container.bg-white( style = { height: '75%'})
    .container.bg-white.pb-5
      +glava('we got skills!', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar augue.', 'Nulla facilisi. Sed gravi64 felis nec ipsum egestas, vitae blandit arcu finibus. Vestibulum rhoncus tempus odio, sodales cursus est egestas at.')
      //секция прогресс баров
      .row.col-10.justify-content-around.mx-auto.mt-5
        +CardCickle('90','90%','web design')
        +CardCickle('75','75%','html / css')
        +CardCickle('70','70%','graphic design')
        +CardCickle('80','85%','ui / ux')
      //close row
    // close container
  //close conteiner-fluid исправить высоту после отладки скрипта на 50vh
  .container-fluid( style = { 'background-color': fon, height: '50vh'})
    .container.bg-white( style = { height: '100%'})
      +glava('we got skills!', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar augue.', 'Nulla facilisi. Sed gravi64 felis nec ipsum egestas, vitae blandit arcu finibus. Vestibulum rhoncus tempus odio, sodales cursus est egestas at.')
      .row.h-25.d-flex.justify-content-around.align-items-center.mx-auto.px-5

        .col-5.d-flex.flex-column.justify-content-end.align-items-between
          +ProgressBar('100','100%','web design')
          +ProgressBar('75','75%','html / css')

        .col-5.d-flex.flex-column.justify-content-end.align-items-between
          +ProgressBar('70','70%','graphic design')
          +ProgressBar('10','10%','ui / ux')
        //close col
        //close col
      //close row
    //close container
  //close container-fluid



  // section our portfolio
  .container-fluid( style = { 'background-color': fon})
    .container.w-100.d-flex.justify-content-center( style = { 'background-color': fon, height: '12vh'})
      .row.d-flex.justify-content-center.align-items-center
        h1.h2-responsive.font-weight-bold.text-black( style = {'font-family': 'Titillium Web , sans-serif'})
            | Portfolio Components
    //close container
      //close row

    .container.bg-white.pb-4( style = { height: '90%'})
      +glava('OUR PORTFOLIO', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar augue.', 'Nulla facilisi. Sed gravi64 felis nec ipsum egestas, vitae blandit arcu finibus. Vestibulum rhoncus tempus odio, sodales cursus est egestas at.')
      .row.d-flex.justify-content-center.mb-5
        .btn-group-md.btn-group-toggle( data-toggle="buttons")
          label.rounded.btn.btn-outline-dark.mx-3.active
            input#options1.text-uppercase(type= "radio" name= "options" checked = '')
            |  ALL
          label.rounded.btn.btn-outline-dark.mx-3
            input#options2.text-uppercase(type= "radio" name= "options")
            | WEB
          label.rounded.btn.btn-outline-dark.mx-3
            input#options3.text-uppercase(type= "radio" name= "options")
            | APPS
          label.rounded.btn.btn-outline-dark.mx-3
            input#options4.text-uppercase(type= "radio" name= "options")
            | ICONS


      .row.d-flex.justify-content-center.text-center.mb-2
        .cont
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


        .cont.mx-3
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


        .cont
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


      .row.d-flex.justify-content-center.text-center.mb-2
        .cont
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


        .cont.mx-3
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


        .cont
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


      .row.d-flex.justify-content-center.text-center.mb-2
        .cont
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


        .cont.mx-3
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui


        .cont
          div.hamelion.mb-2( style = { height: "300px", width:"300px"})
          h6.card-titlet.font-weight-bold( style = { width:"250px"}) Neque Qorro Quisquam
          p.card-text.font-weight-100.text-muted( style = { "font-size": "0.7em", width:"250px"})
            | apps, icons, ui

      .row.d-flex.justify-content-center.text-center.my-5
        button.btn-lg.btn-outline-dark.text-uppercase.rounded-0( style = { "box-shadow": "2px 2px 0 0"}) load more

      //close row
      //close row
      //close row
    //close container
  //close container-fluid
  .container-fluid.pt-4( style = { 'background-color': fon})
    .container.bg-white.d-flex.justify-center.flex-column
      .row.w-100.d-flex.justify-content-center.align-items-center.py-5
        h5.text-uppercase.font-weight-bold our portfolio
      .row.d-flex.justify-content-sm-around.justify-content-lg-start.justify-content-xl-center
        .col-9.col-xl-5.px-xl-0.px-lg-1
          ul.link-nav.nav.text-uppercase
            li.n-pr-3.nav-item
              a.nav-link.text-dark.active(href='#') ALL
            li.nav-item
               a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') /
            li.nav-item
              a.nav-link.text-dark(href='#') nature
            li.nav-item
               a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') /
            li.nav-item
              a.nav-link.text-dark(href='#') beauty
            li.nav-item
               a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') /
            li.nav-item
              a.nav-link.text-dark(href='#') stills
        .col-xl-5

      //close row
      .row.d-flex.justify-content-center
        .hameleon-2
        .hameleon-2
        .hameleon-2
        .hameleon-2
        .hameleon-2
      //close row
      .row.pt-3.pb-4.d-flex.justify-content-around
        .col-4.px-0
          h4.text-uppercase.text-left
            strong lorem ipsum dollor
        .col-4.px-0
          h6.text-uppercase.text-muted.text-right 368 photos
      //close row
      .row.d-flex.justify-content-center
        .hameleon-2
        .hameleon-2
        .hameleon-2
        .hameleon-2
        .hameleon-2
      //close row
      .row.pt-3.pb-4.d-flex.justify-content-around
        .col-4.px-0
          h4.text-uppercase.text-left
            strong lorem ipsum dollor
        .col-4.px-0
          h6.text-uppercase.text-muted.text-right 368 photos
      //close row
      .row.d-flex.justify-content-center
        .hameleon-2
        .hameleon-2
        .hameleon-2
        .hameleon-2
        .hameleon-2
      //close row
      .row.pt-3.pb-4.d-flex.justify-content-around
        .col-4.px-0
          h4.text-uppercase.text-left
            strong lorem ipsum dollor
        .col-4.px-0
          h6.text-uppercase.text-muted.text-right 368 photos
      //close row
      .row.d-flex.justify-content-center.text-center.my-5
        button.btn-lg.btn-outline-dark.text-uppercase.rounded-0( style = { "box-shadow": "2px -2px  0 0"}) load more
      //close row
    //close conteiner
  //close conteiner-fluid


  // section Statistics
  .container-fluid.d-flex.flex-column.justify-content-center( style = { 'background-color': fon})
    .row.my-5.justify-content-center
      h3.font-weight-bold Statistics
    //close row
    .container.bg-white.justify-content-center
      .row.justify-content-center.my-4
        h3.font-weight-bold.text-uppercase our company by numbers
      //close row
      .row.d-flex.flex-row.justify-content-around.mt-5.px-4

        .d-flex.flex-column.justify-content-center
          .cicle.mx-auto.mb-3( style = { 'background-color': fon })
          h6.mx-auto.font-weight-bold 1.295.365
          p.lead.text-muted( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          .cicle.mx-auto.mb-3( style = { 'background-color': fon })
          h6.mx-auto.font-weight-bold 5.365
          p.lead.text-muted( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          .cicle.mx-auto.mb-3( style = { 'background-color': fon })
          h6.mx-auto.font-weight-bold 895.365
          p.lead.text-muted( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          .cicle.mx-auto.mb-3( style = { 'background-color': fon })
          h6.mx-auto.font-weight-bold 65
          p.lead.text-muted( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          .cicle.mx-auto.mb-3( style = { 'background-color': fon })
          h6.mx-auto.font-weight-bold 365
          p.lead.text-muted( style = { 'font-size': '0.7em'})
            |  Lorem ipsum
      //close row
    //close container
    .container.bg-white.mt-4
      .row.justify-content-around

        .d-flex.flex-column.justify-content-center
          h2.mx-auto.mt-5.font-weight-normal 365
          p.lead.text-muted.text-center.mb-5( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          h2.mx-auto.mt-5.font-weight-normal 98%
          p.lead.text-muted.text-center.mb-5( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          h2.mx-auto.mt-5.font-weight-normal 69
          p.lead.text-muted.text-center.mb-5( style = { 'font-size': '0.7em'})
            |  Lorem ipsum

        .d-flex.flex-column.justify-content-center
          h2.mx-auto.mt-5.font-weight-normal 1,642
          p.lead.text-muted.text-center.mb-5( style = { 'font-size': '0.7em'})
            |  Lorem ipsum
      //close row
    //close conteiner
  //close container-fluid


  // section testimonials
  .container-fluid.d-flex.flex-column.justify-content-center( style = { 'background-color': fon})
    .row.my-5.justify-content-center
      h3.font-weight-bold Testimonials
    //close row
    .container.bg-white.justify-content-center
      .row.mt-5.mb-3.px-5
        .col-lg-10.mx-auto
          blockquote.blockquote.text-center.font-italic
            |  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus , nisi erat.
          p.lead.text-center.text-muted.text-uppercase
            |  chanel iman, pinterest
      //close row
      .row.d-flex.justify-content-center.mb-4
        .cicle-min.mx-1
        .cicle-min.mx-1
        .cicle-min.mx-1
        .cicle-min.mx-1
        .cicle-min.mx-1
        .cicle-min.mx-1
      //close row
    //close container
    .container.bg-white.mt-5
      .row.d-flex.justify-content-center.my-5
        h3.font-weight-bold.text-uppercase our clients live us
      //close row
      .row.d-flex.justify-content-center.px-5.mt-5.py-5
        .container.col-lg-5.d-flex.flex-column

          .container.d-flex.justify-content-end.mb-5
            .cicle-human.mr-3( style = { 'background-color': fon })
            .col-lg-8
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
              h6.font-weight-bold.text-uppercase chanel iman
              p.text-muted( style = { 'font-size': '0.7em'})
                |  CEO if Pinterest

          // close container
          .container.d-flex.justify-content-end
            .cicle-human.mr-3( style = { 'background-color': fon })
            .col-lg-8
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
              h6.font-weight-bold.text-uppercase chanel iman
              p.text-muted( style = { 'font-size': '0.7em'})
                |  CEO if Pinterest

          // close container
        // close container
        .container.col-lg-5.d-flex.flex-column

          .container.d-flex.justify-content-start.mb-5
            .cicle-human.mr-3( style = { 'background-color': fon })-human
            .col-lg-8
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
              h6.font-weight-bold.text-uppercase Adriana lima
              p.text-muted( style = { 'font-size': '0.7em'})
                |  CEO if Pinterest

          // close container
          .container.d-flex.justify-content-start
            .cicle-human.mr-3( style = { 'background-color': fon })
            .col-lg-8
              p.lead.text-muted( style = { 'font-size': '0.7em'})
                |  Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
              h6.font-weight-bold.text-uppercase Adriana lima
              p.text-muted( style = { 'font-size': '0.7em'})
                |  CEO if Pinterest
    //close container
  //close container-fluid

  .container-fluid.d-flex.flex-column.justify-content-center( style = { 'background-color': fon})
    .row.d-flex.justify-content-center.my-5
      h3.font-weight-bold Pricing Tables
    //close row
    .container.bg-white.d-flex.flex-column
      .row.pt-5.pb-2
        h3.font-weight-bold.text-uppercase.mx-auto select a plan
      //close row
      .row.mb-5
        p.mx-auto.text-muted( style = { 'font-size': '0.7em'})
          | Lorem ipsum dolor sit amet, stet facilisi ex vel, per te stet adipiscing persequeris
      //close row
      .row.d-flex.justify-content-between.pb-3.px-2

        .col-3.d-flex.flex-column.justufy-con.py-3tent-center.border.border-dark.py-3
          h3.mx-auto.mt-4.mb-2.font-weight-bold.text-uppercase personal
          p.lead.text-center.text-muted( style = { 'font-size': '0.7em'})
            |  9$/Month
          a.btn.btn-secondary.btn-md( style = { color: "white", 'font-weight': "bold"})   YOUR PLAN

        .col-3.d-flex.flex-column.justufy-content-center.border.border-dark.py-3
          h3.mx-auto.mt-4.mb-2.font-weight-bold.text-uppercase.mx-n5 professional
          p.lead.text-center.text-muted( style = { 'font-size': '0.7em'})
            |  9$/Month
          a.btn.btn-danger.btn-md( style = { color: "white", 'font-weight': "bold"})   UPGRADE

        .col-3.d-flex.flex-column.justufy-content-center.border.border-dark.py-3
          h3.mx-auto.mt-4.mb-2.font-weight-bold.text-uppercase business
          p.lead.text-center.text-muted( style = { 'font-size': '0.7em'})
            |  9$/Month
          a.btn.btn-danger.btn-md( style = { color: "white", 'font-weight': "bold"})   UPGRADE
      //close row


      //close row
    //close container

  //close container-fluid
























      //close row
    //close container
  // close container-fluid

prepend scripts
  script( src=path_js + "script_index.js" )







